/*============*/
/* Animation */
/*==========*/

.box-active {
  animation-name: translateInRight;
  animation-duration: 5s;
  animation-iteration-count: revert;
}
.box-active2 {
  animation-name: translateInLeft;
  animation-duration: 4s;
  animation-iteration-count: revert;
}

@keyframes translateInRight {
  0% {
    transform: translateX(0%);
    visibility: visible;
  }

  50% {
    transform: translateX(+150%);
  }

  100% {
    transform: translateX(0%);
  }
}

@keyframes translateInLeft {
  0% {
    transform: translateX(0%);
    visibility: visible;
  }

  50% {
    transform: translateX(-175%)
  }
  100% {
    transform: translateX(0%);
  }
}
/*---------------------------------------------*/
                /*============*/
                /*    CSS     */
                /*============*/
/*---------------------------------------------*/

/*=========*/
/*  RESET  */
/*=========*/
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/*---------------------------------------*/

/*=========*/
/* GENERAL */
/*=========*/

p{
  font-family: 'Mirza', cursive;
}
h2{
  font-family: 'Lobster', cursive;
}
a{
  text-decoration: none;
}
li{
  list-style: none;
}
audio{
  display: none;
}
img{
  height: 100%;
  width: 100%;
  box-shadow: 10px 10px 5px #888888;
}
.container{
  display: flex;
  flex-direction: column;
}
/*---------------------------------------------------------------------------------------------------------------------*/

/*=====================================*/
/*   RESPONSIVE   (min-width: 1917px )  */
/*=====================================*/

@media all and (min-width: 1850px)
{
/*========*/
/* HEADER */
/*========*/
  header{
    background-image: url('../images/bgbody.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    border-bottom: 4px solid #FB7826;
    text-shadow: 4.5px 4.5px 1px black;
  }
  h1{
    text-align: center;
    padding: 8%;
    font-size: 80px;
    font-family: 'Lobster', cursive;
    letter-spacing: 2px;
    color: #FB7826;
  }
  .titreH{
    font-size: 180px;
  }
/* HOVER DES BOUTONS DE LA NAV */
  .information:hover{
    color: #FB7826;
    background-color: rgba(255, 255, 255, 0.8);
  }
  .accueil:hover{
    color: white;
    background-color: rgba(253, 160, 41, 0.8);
  }
  .accrobranche:hover{
    color: white;
    background-color: rgba(75, 163, 60, 0.8);
  }
  .skatepark:hover{
    color: white;
    background-color: rgba(13, 176, 195, 0.8);
  }
  .trampo:hover{
    color: white;
    background-color: rgba(224, 204, 22, 0.8);
  }
  .evenement:hover{
    color: white;
    background-color: rgba(252, 42, 33, 0.8);
  }
  .anniversaire:hover{
    color: white;
    background-color: rgba(220, 63, 209, 0.8);
  }
  .media:hover{
    color: white;
    background-color: rgba(118, 108, 255, 0.8);
  }
/*------------------------------------------------*/

/*=======*/
/*  NAV  */
/*=======*/
  nav{
    display: flex;
    justify-content: space-around;
    position: fixed;
    width: 100%;
    text-align: center;
    z-index: 5;
   }
   ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(225, 207, 187, 0.5);
    height: 4.5em;
    width: 100%;
    list-style: none;
   }
   li{
    height: 50%;
    width: 50%;
    list-style: none;
    border-right: 2px solid #FB7826;
   }
   li:last-child{
    border: none;
  }
  nav  a{
    display: flex;
    justify-content: space-around;
    text-decoration: none;
    font-family: 'Lobster', cursive;
    background-color: rgba(202, 202, 202, 0.8);
    border: 2px solid black;
    border-radius: 30%;
    width: 80%;
    margin: auto;
    padding: 0.2em;
    font-size: 1.2em;
    color: black;
   }
  .fa-bell-slash{
    cursor: pointer;
    text-shadow: none;
  }
/*------------------------------------------------*/

/*=============*/
/* DIV BISTROT */
/*=============*/
  .titre_bistrot{
    width: 14em;
    height: 8em;
    padding: 0.25em;
    margin-right: -0.8em;
    background-color: rgba(0, 0, 0, 0.8);
    border-left: solid 3px #64C755;
    border-bottom: solid 3px #64C755;
    border-radius: 0px 0px 0px 25px;
    color: white;
    transform: skewX(8deg);
    cursor: pointer;
  }
  .titre_bistrot p{
    height: 3em;
    cursor: pointer;
    font-family: 'Lobster', cursive;
    font-size: 20px;
    z-index: 1;
  }
  .titre_bistrot:hover{
    text-shadow: 1px 1px 2px #64C755;
    box-shadow: -1px 2.5px 4px #fff;
  }
  .fa-bell-slash{
   cursor: pointer;
   text-shadow: none;
  }
/*------------------------------------------------*/

/*==================*/
/*  MILIEU DE PAGE  */
/*==================*/
  main{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  main section{
    display: flex;
    flex-direction: row;
    margin: 3em auto;
  }
  section{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    width: 90%;
  }
  article{
    display: flex;
    flex-direction: column;
    height: 19em;
    padding: 2%;
  }
  article p{
    font-size: 20px;
  }
  h2{
    font-family: 'Lobster', cursive;
    font-size: 24px;
  }
  .img_sec{
    flex: 1;
    width: 50%;
  }
  .text_sec, .calendrier{
    flex: 2;
    height: 12.5em;
  }
  .hr_section{
    width: 60%;
    margin: 8em auto;
    border: 4px solid #FB7826;
    color: #FB7826;
  }
/* SECTION MAIN REGLAGE */
  .section1{
    margin-bottom: -3em;
  }
  .section2{
    margin-top: -3em;
    margin-bottom: 5em;
  }
  .section3{
    margin-top: -3em;
  }
/*------------------------------------------------*/

/*=======================*/
/*  MAIN BISTROT TOGGLE  */
/*=======================*/
  #mainbistrot{
    display: flex;
    flex-direction: column;
    position: fixed;
    text-align: center;
    padding: 6em;
    padding-top: 16em;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    z-index: 2; /* Ajouter pour pertubation du calendar (passe au travers)*/
  }
  #mainbistrot article{
    align-items: center;
    margin: 0.5em auto;
    width: 80%;
    color: white;
  }
  #mainbistrot section{
    margin: -0.5em;
  }
  #mainbistrot h2{
    font-family: 'Lobster', cursive;
    font-size: 28px;
    color: #FB7826;
  }
  #mainbistrot p{
    font-family: 'Mirza', cursive;
    font-size: 22px;
  }
  #mainbistrot img{
    margin: 0.5em auto;
    width: 90%;
    height: 80%;
  }
  article .img_txt{
    margin-top: 0.5em;
  }
  .hrsection_bistrot{
    color: #FB7826;
    margin: 1em auto;
    width: 45%;
    border: 1px solid #FB7826;
  }
  .hr{ /* HR entre la Sec1 et la Se2, enlever*/
    display: none;
  }
  .sec_bistrot{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
  }
  .sec1_bistrot, .sec2_bistrot{
    margin: 0.5em auto;
  }
  .sec1_bistrot{
    border-right: 2px solid #FB7826;
  }
  .sec3_bistrot{
    width: 40%;
  }
/*------------------------------------------------*/

/*========*/
/*  MAPS  */
/*========*/
  .maps{
    width: 100%;
    border-top: 3px solid #FB7826;
    border-radius: 10px 10px 0px 0px;
    height: 400px;
  }
/*------------------------------------------------*/

/*==========*/
/*  FOOTER  */
/*==========*/
  footer{
    display: flex;
    flex-direction: row;
    align-items: baseline;
    background-color: #222;
    padding: 1em auto;
  }
  footer section{
    display: flex;
    margin: 1em auto;
  }
  footer p{
    font-size: 25px;
    color: white;
  }
  footer a{
    font-size: 18px;
    color: #fff;
  }
  footer a:hover{
    color: #FB7826;
  }
  h4{
    font-family: 'Lobster', cursive;
    transform: rotate(-18deg);
    margin-top: 0.20em;
    margin-left: 0.9em;
    font-size: 22px;
    color: white;
  }
  .titre_voir{
    margin-left: 2em;
    margin-top: 0.10em;
  }
  .fa{
    color: #FB7826;
  }
  .contenue{
    display: flex;
    flex-direction: column;
    margin: 1em auto;
  }
  .hr_footer{
    display: none;
  }
  .fa-facebook-official{
    transition: 0.7s;
  }
  .fa-facebook-official:hover{
    color: #395794;
    transition: 0.7s;
  }
/*==============*/
/* IMAGE SKATE  */
/*==============*/
  .titre_footer{
    background-image: url("../images/skate2.png");
    background-size: 9em;
    background-repeat: no-repeat;
    height: 6em;
    width: 12em;
  }
}
/*---------------------------------------------------------------------------------------------------------------------*/

/*===========================================================*/
/*   RESPONSIVE   (min-width: 1280px and max-width: 1919px)  */
/*===========================================================*/

@media all and (min-width: 1280px) and (max-width: 1849px)
{
/*========*/
/* HEADER */
/*========*/
  header{
    background-image: url('../images/bgbody.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    border-bottom: 4px solid #FB7826;
    text-shadow: 4.5px 4.5px 1px black;
  }
  h1{
    text-align: center;
    padding: 8%;
    font-size: 80px;
    font-family: 'Lobster', cursive;
    letter-spacing: 2px;
    color: #FB7826;
  }
  .titreH{
    font-size: 180px;
  }
/* HOVER DES BOUTONS DE LA NAV */
  .information:hover{
    color: #FB7826;
    background-color: rgba(255, 255, 255, 0.8);
  }
  .accueil:hover{
    color: white;
    background-color: rgba(253, 160, 41, 0.8);
  }
  .accrobranche:hover{
    color: white;
    background-color: rgba(75, 163, 60, 0.8);
  }
  .skatepark:hover{
    color: white;
    background-color: rgba(13, 176, 195, 0.8);
  }
  .trampo:hover{
    color: white;
    background-color: rgba(224, 204, 22, 0.8);
  }
  .evenement:hover{
    color: white;
    background-color: rgba(252, 42, 33, 0.8);
  }
  .anniversaire:hover{
    color: white;
    background-color: rgba(220, 63, 209, 0.8);
  }
  .media:hover{
    color: white;
    background-color: rgba(118, 108, 255, 0.8);
  }
/*------------------------------------------------*/

/*=======*/
/*  NAV  */
/*=======*/
  nav{
    display: flex;
    justify-content: space-around;
    position: fixed;
    width: 100%;
    text-align: center;
    z-index: 5;
   }
   ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(225, 207, 187, 0.5);
    height: 4.5em;
    width: 100%;
    list-style: none;
   }
   li{
    height: 50%;
    width: 50%;
    list-style: none;
    border-right: 2px solid #FB7826;
   }
   li:last-child{
    border: none;
  }
  nav  a{
    display: flex;
    justify-content: space-around;
    text-decoration: none;
    font-family: 'Lobster', cursive;
    background-color: rgba(202, 202, 202, 0.8);
    border: 2px solid black;
    border-radius: 30%;
    width: 80%;
    margin: auto;
    padding: 0.2em;
    font-size: 1.2em;
    color: black;
   }
  .fa-bell-slash{
    cursor: pointer;
    text-shadow: none;
  }
/*------------------------------------------------*/

/*=============*/
/* DIV BISTROT */
/*=============*/
  .titre_bistrot{
    width: 14em;
    height: 8em;
    padding: 0.25em;
    margin-right: -0.8em;
    background-color: rgba(0, 0, 0, 0.8);
    border-left: solid 3px #64C755;
    border-bottom: solid 3px #64C755;
    border-radius: 0px 0px 0px 25px;
    color: white;
    transform: skewX(8deg);
    cursor: pointer;
  }
  .titre_bistrot p{
    height: 3em;
    cursor: pointer;
    font-family: 'Lobster', cursive;
    font-size: 20px;
    z-index: 1;
  }
  .titre_bistrot:hover{
    text-shadow: 1px 1px 2px #64C755;
    box-shadow: -1px 2.5px 4px #fff;
  }
  .fa-bell-slash{
   cursor: pointer;
   text-shadow: none;
  }
/*------------------------------------------------*/

/*==================*/
/*  MILIEU DE PAGE  */
/*==================*/
  main{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  main section{
    display: flex;
    flex-direction: row;
    margin: 3em auto;
  }
  section{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    width: 90%;
  }
  article{
    display: flex;
    flex-direction: column;
    height: 15em;
    padding: 2%;
  }
  article p{
    font-size: 20px;
  }
  h2{
    font-size: 24px;
  }
  .img_sec{
    flex: 1;
    width: 50%;
  }
  .text_sec, .calendrier{
    flex: 2;
    height: 12.5em;
  }
  .hr_section{
    width: 60%;
    margin: 8em auto;
    border: 4px solid #FB7826;
    color: #FB7826;
  }
/* SECTION MAIN REGLAGE */
  .section1{
    margin-bottom: -3em;
  }
  .section2{
    margin-top: -3em;
    margin-bottom: 5em;
  }
  .section3{
    margin-top: -3em;
  }
/*------------------------------------------------*/

/*=======================*/
/*  MAIN BISTROT TOGGLE  */
/*=======================*/
  #mainbistrot{
    display: flex;
    flex-direction: column;
    position: fixed;
    text-align: center;
    padding: 6em;
    padding-top: 8em;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    z-index: 2; /* Ajouter pour pertubation du calendar (passe au travers)*/
  }
  #mainbistrot article{
    align-items: center;
    margin: 0.5em auto;
    width: 80%;
    color: white;
  }
  #mainbistrot section{
    margin: -0.5em;
  }
  #mainbistrot h2{
    font-size: 18px;
    color: #FB7826;
  }
  #mainbistrot p{
    font-size: 16px;
  }
  #mainbistrot img{
    margin: 0.5em auto;
    width: 70%;
    height: 60%;
  }
  article .img_txt{
    margin-top: 0.5em;
  }
  .hrsection_bistrot{
    color: #FB7826;
    margin: 1em auto;
    width: 45%;
    border: 1px solid #FB7826;
  }
  .hr{ /* HR entre la Sec1 et la Se2, enlever*/
    display: none;
  }
  .sec_bistrot{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
  }
  .sec1_bistrot, .sec2_bistrot{
    margin: 0.5em auto;
  }
  .sec1_bistrot{
    border-right: 2px solid #FB7826;
  }
  .sec3_bistrot{
    width: 60%;
  }
/*------------------------------------------------*/

/*========*/
/*  MAPS  */
/*========*/
  .maps{
    width: 100%;
    border-top: 3px solid #FB7826;
    border-radius: 10px 10px 0px 0px;
    height: 400px;
  }
/*------------------------------------------------*/

/*==========*/
/*  FOOTER  */
/*==========*/
  footer{
    display: flex;
    flex-direction: row;
    align-items: baseline;
    background-color: #222;
    padding: 1em auto;
  }
  footer section{
    display: flex;
    margin: 1em auto;
  }
  footer p{
    font-size: 18px;
    color: white;
  }
  footer a{
    font-size: 16px;
    color: #fff;
  }
  footer a:hover{
    color: #FB7826;
  }
  h4{
    font-family: 'Lobster', cursive;
    transform: rotate(-18deg);
    margin-top: 0.50em;
    margin-left: 1.3em;
    font-size: 20px;
    color: white;
  }
  .titre_voir{
    margin-left: 2.5em;
  }
  .fa{
    color: #FB7826;
  }
  .contenue{
    display: flex;
    flex-direction: column;
    margin: 1em auto;
  }
  .hr_footer{
    display: none;
  }
  .fa-facebook-official{
    transition: 0.7s;
  }
  .fa-facebook-official:hover{
    color: #395794;
    transition: 0.7s;
  }
/*==============*/
/* IMAGE SKATE  */
/*==============*/
  .titre_footer{
    background-image: url("../images/skate2.png");
    background-size: 9em;
    background-repeat: no-repeat;
    height: 5em;
    width: 10em;
  }
}
/*---------------------------------------------------------------------------------------------------------------------*/

/*=========================================================*/
/*   RESPONSIVE   (min-width: 320px and max-width: 767px)  */
/*=========================================================*/

@media all and (min-width: 801px) and (max-width: 1279px)
{
/*========*/
/* HEADER */
/*========*/
  header{
    display: flex;
    width: 100%;
    height: 15.625em;
    align-items: center;
    justify-content: center;
    background-image: url("../images/bghead.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    border-bottom: 4px solid #FB7826;
  }
  h1{
    font-family: 'Lobster', cursive;
    font-size: 70px;
    text-shadow: 1px 2px #fff;
    color:#FB7826;
  }
/* HOVER DES BOUTONS DE LA NAV */
  .information:hover{
    color: rgba(246, 224, 151, 0.8);
  }
  .accueil:hover{
    color: rgba(253, 160, 41, 0.8);
  }
  .accrobranche:hover{
    color: rgba(75, 163, 60, 0.8);
  }
  .skatepark:hover{
    color: rgba(13, 176, 195, 0.8);
  }
  .trampo:hover{
    color: rgba(224, 204, 22, 0.8);
  }
  .evenement:hover{
    color: rgba(252, 42, 33, 0.8);
  }
  .anniversaire:hover{
    color: rgba(220, 63, 209, 0.8);
  }
  .media:hover{
    color: rgba(118, 108, 255, 0.8);
  }
/*-----------------------------------------------*/

/*===============*/
/*  MENU BURGER  */
/*===============*/
  .btn-navigation{
    z-index: 99999;
    position: fixed;
    right: 10px;
    top: 10px;
    cursor: pointer;
  }
  .btn-navigation .barre{
    z-index: 6;
    width: 25px;
    height: 4px;
    background: #FB7826;
    margin-top: 3px;
    transition: background .3s ease-in-out;
    -webkit-transition: background .3s ease-in-out;
  }
  .btn-navigation .barre.white{
    background: #FB7826;
  }
  nav.isOpen{
    transform: translateX(0%);
    -webkit-transform: translateX(0%);
  }
  nav{
    z-index: 5;
    display: flex;
    flex-direction: column;
    position: fixed;
    right: 0;
    top: 0;
    padding: 5px;
    background: #333;
    width: 15%;
    height: 100%;
    transition: transform .6s ease-in-out;
    -webkit-transition: transform .6s ease-in-out;
    transform: translateX(100%);
    -webkit-transform: translateX(100%);
  }
  nav ul{
    display: flex;
    flex-direction: column;
    position: absolute;
    margin-left: 15px;
    top: 240px;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
  }
  nav ul li{
    margin: 0.2em 0;
  }
  nav ul li a{
    text-decoration: none;
    color:  #fff;
    font-size: 15px;
  }
/*------------------------------------------------*/

/*=============*/
/* DIV BISTROT */
/*=============*/
  .titre_bistrot{
    width: 10em;
    height: 6em;
    padding: 0.5em;
    margin-left: 0.5em;
    margin-top: -1em;
    background-color: rgba(0, 0, 0, 0.8);
    border-left: solid 3px #64C755;
    border-bottom: solid 3px #64C755;
    border-radius: 0px 0px 0px 25px;
    color: white;
    transform: skewX(8deg);
    cursor: pointer;
  }
  .titre_bistrot p{
    height: 3em;
    cursor: pointer;
    font-family: 'Lobster', cursive;
    z-index: 1;
  }
  .titre_bistrot:hover{
    text-shadow: 1px 1px 2px #64C755;
    box-shadow: -1px 2.5px 4px #fff;
  }
  .fa-bell-slash{
   cursor: pointer;
   text-shadow: none;
  }
/*------------------------------------------------*/

/*==================*/
/*  MILIEU DE PAGE  */
/*==================*/
  main{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  section{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1em auto;
    height: auto;
    width: 90%;
  }
  article{
    display: flex;
    flex-direction: column;
    height: 7.813em;
    padding: 2%;
  }
  article p{
    font-size: 20px;
  }
  h2{
    font-size: 24px;
  }
  .img_sec{
    flex: 1;
    width: 50%;
  }
  .text_sec, .calendrier{
    flex: 2;
    height: 12.5em;
  }
  .hr_section{
    width: 60%;
    margin: 3.75 auto;
    border: 4px solid #FB7826;
    color: #FB7826;
  }
/*------------------------------------------------*/

/*=======================*/
/*  MAIN BISTROT TOGGLE  */
/*=======================*/
  #mainbistrot{
    display: flex;
    flex-direction: column;
    position: fixed;
    text-align: center;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    z-index: 2; /* Ajouter pour pertubation du calendar (passe au travers)*/
  }
  #mainbistrot article{
    align-items: center;
    margin: 2em auto;
    margin-top: 0.5em;
    width: 100%;
    color: white;
  }
  #mainbistrot h2{
    font-size: 20px;
    color: #FB7826;
  }
  #mainbistrot p{
    font-size: 17px;
  }
  #mainbistrot img{
    margin: 0.5em auto;
    width: 35%;
    height: 120%;
  }
  article .img_txt{
    margin-top: 0.5em;
  }
  .hr{ /* HR entre la Sec1 et la Se2, ajouter car il n'y a pas la même class*/
    color: #FB7826;
    margin: 0.5em auto;
    width: 45%;
    border: 2px solid #FB7826;
  }
  .hrsection_bistrot{
    color: #FB7826;
    margin: 0.5em auto;
    width: 45%;
    border: 2px solid #FB7826;
  }
/*------------------------------------------------*/

/*========*/
/*  MAPS  */
/*========*/
  .maps{
    width: 100%;
    border-top: 3px solid #FB7826;
    border-radius: 10px 10px 0px 0px;
    height: 300px;
  }
/*------------------------------------------------*/

/*==========*/
/*  FOOTER  */
/*==========*/
  footer{
    display: flex;
    flex-direction: row;
    align-items: baseline;
    background-color: #222;
    padding: 1em auto;
  }
  footer section{
    display: flex;
  }
  footer p{
    font-size: 15px;
    color: white;
  }
  footer a{
    font-size: 14px;
    color: #fff;
  }
  footer a:hover{
    color: #FB7826;
  }
  h4{
    font-family: 'Lobster', cursive;
    transform: rotate(-18deg);
    margin-top: 0.50em;
    margin-left: 1.3em;
    font-size: 20px;
    color: white;
  }
  .titre_voir{
    margin-left: 2.5em;
  }
  .fa{
    color: #FB7826;
  }
  .contenue{
    display: flex;
    flex-direction: column;
    margin: 1em auto;
  }
  .hr_footer{
    display: none;
  }
  .fa-facebook-official{
    transition: 0.7s;
  }
  .fa-facebook-official:hover{
    color: #395794;
    transition: 0.7s;
  }
/*==============*/
/* IMAGE SKATE  */
/*==============*/
  .titre_footer{
    background-image: url("../images/skate2.png");
    background-size: 9em;
    background-repeat: no-repeat;
    height: 5em;
    width: 10em;
  }
}
/*---------------------------------------------------------------------------------------------------------------------*/

/*=========================================================*/
/*   RESPONSIVE   (min-width: 768px and max-width: 800px)  */
/*=========================================================*/

@media all and (min-width: 768px) and (max-width: 800px)
{
/*========*/
/* HEADER */
/*========*/
  header{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 15.625em;
    text-align: center;
    background-image: url("../images/bghead.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    border-bottom: 4px solid #FB7826;
  }
  h1{
    font-family: 'Lobster', cursive;
    font-size: 60px;
    text-shadow: 1px 2px #000;
    color:#FB7826;
  }
/* HOVER DES BOUTONS DE LA NAV */
  .information:hover{
    color: rgba(246, 224, 151, 0.8);
  }
  .accueil:hover{
    color: rgba(253, 160, 41, 0.8);
  }
  .accrobranche:hover{
    color: rgba(75, 163, 60, 0.8);
  }
  .skatepark:hover{
    color: rgba(13, 176, 195, 0.8);
  }
  .trampo:hover{
    color: rgba(224, 204, 22, 0.8);
  }
  .evenement:hover{
    color: rgba(252, 42, 33, 0.8);
  }
  .anniversaire:hover{
    color: rgba(220, 63, 209, 0.8);
  }
  .media:hover{
    color: rgba(118, 108, 255, 0.8);
  }
/*-----------------------------------------------*/

/*===============*/
/*  MENU BURGER  */
/*===============*/
  .btn-navigation{
    z-index: 99999;
    position: fixed;
    right: 10px;
    top: 10px;
    cursor: pointer;
  }
  .btn-navigation .barre{
    z-index: 6;
    width: 25px;
    height: 4px;
    background: #FB7826;
    margin-top: 3px;
    transition: background .3s ease-in-out;
    -webkit-transition: background .3s ease-in-out;
  }
  .btn-navigation .barre.white{
    background: #FB7826;
  }
  nav.isOpen{
    transform: translateX(0%);
    -webkit-transform: translateX(0%);
  }
  nav{
    z-index: 5;
    display: flex;
    flex-direction: column;
    position: fixed;
    right: 0;
    top: 0;
    padding: 5px;
    background: #333;
    width: 20%;
    height: 100%;
    transition: transform .6s ease-in-out;
    -webkit-transition: transform .6s ease-in-out;
    transform: translateX(100%);
    -webkit-transform: translateX(100%);
  }
  nav ul{
    display: flex;
    flex-direction: column;
    position: absolute;
    margin-left: 15px;
    top: 240px;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
  }
  nav ul li{
    margin: 0.2em 0;
  }
  nav ul li a{
    text-decoration: none;
    color:  #fff;
    font-size: 15px;
  }
/*------------------------------------------------*/

/*=============*/
/* DIV BISTROT */
/*=============*/
  .titre_bistrot{
    width: 10em;
    height: 6em;
    padding: 0.5em;
    margin-left: 0.5em;
    margin-top: -1em;
    background-color: rgba(0, 0, 0, 0.8);
    border-left: solid 3px #64C755;
    border-bottom: solid 3px #64C755;
    border-radius: 0px 0px 0px 25px;
    color: white;
    transform: skewX(8deg);
    cursor: pointer;
  }
  .titre_bistrot p{
    height: 3em;
    cursor: pointer;
    font-family: 'Lobster', cursive;
    z-index: 1;
  }
  .titre_bistrot:hover{
    text-shadow: 1px 1px 2px #64C755;
    box-shadow: -1px 2.5px 4px #fff;
  }
  .fa-bell-slash{
   cursor: pointer;
   text-shadow: none;
  }
/*------------------------------------------------*/

/*==================*/
/*  MILIEU DE PAGE  */
/*==================*/
  main{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  section{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1em auto;
    height: auto;
    width: 90%;
  }
  article{
    display: flex;
    flex-direction: column;
    height: 7.813em;
    padding: 2%;
  }
  article p{
    font-size: 18px;
  }
  h2{
    font-size: 20px;
  }
  .img_sec{
    flex: 1;
    width: 60%;
  }
  .text_sec, .calendrier{
    flex: 2;
    height: 12.5em;
  }
  .hr_section{
    width: 60%;
    margin: 3.75 auto;
    border: 4px solid #FB7826;
    color: #FB7826;
  }
/*------------------------------------------------*/

/*=======================*/
/*  MAIN BISTROT TOGGLE  */
/*=======================*/
  #mainbistrot{
    display: flex;
    flex-direction: column;
    position: fixed;
    text-align: center;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    z-index: 2; /* Ajouter pour pertubation du calendar (passe au travers)*/
  }
  #mainbistrot article{
    align-items: center;
    margin: 2em auto;
    margin-top: -0.5em;
    width: 100%;
    color: white;
  }
  #mainbistrot h2{
    font-size: 20px;
    color: #FB7826;
  }
  #mainbistrot p{
    font-size: 17px;
  }
  #mainbistrot img{
    margin: 0.5em auto;
    width: 35%;
  }
  .hr{ /* HR entre la Sec1 et la Se2, ajouter car il n'y a pas la même class*/
    color: #FB7826;
    margin: 0.5em auto;
    width: 45%;
    border: 2px solid #FB7826;
  }
  article .img_txt{
    margin-top: 0.5em;
  }
  .hrsection_bistrot{
    color: #FB7826;
    margin: 0.5em auto;
    width: 45%;
    border: 2px solid #FB7826;
  }
  .sec2_bistrot{
    margin-bottom: -1em;
  }
  .sec2_bistrot .img_txt{
    margin-top: -2em;
  }
/*------------------------------------------------*/

/*========*/
/*  MAPS  */
/*========*/
  .maps{
    width: 100%;
    border-top: 3px solid #FB7826;
    border-radius: 10px 10px 0px 0px;
  }
/*------------------------------------------------*/

/*==========*/
/*  FOOTER  */
/*==========*/
  footer{
    display: flex;
    flex-direction: row;
    align-items: baseline;
    background-color: #222;
    padding: 1em auto;
  }
  footer section{
    display: flex;
  }
  footer p{
    font-size: 15px;
    color: white;
  }
  footer a{
    font-size: 14px;
    color: #fff;
  }
  footer a:hover{
    color: #FB7826;
  }
  h4{
    font-family: 'Lobster', cursive;
    margin-top: 0.75em;
    font-size: 20px;
    color: #FB7826;
    text-shadow: 1px 2px #fff;
  }
  .fa{
    color: #FB7826;
  }
  .contenue{
    display: flex;
    flex-direction: column;
    margin: 1em auto;
  }
  .hr_footer{
    display: none;
  }
  .fa-facebook-official{
    transition: 0.7s;
  }
  .fa-facebook-official:hover{
    color: #395794;
    transition: 0.7s;
  }
}

/*---------------------------------------------------------------------------------------------------------------------*/

/*=========================================================*/
/*   RESPONSIVE   (min-width: 320px and max-width: 767px)  */
/*=========================================================*/

@media all and (min-width: 320px) and (max-width: 767px)
{
/*========*/
/* HEADER */
/*========*/
  header{
    width: 100%;
    height: 15.625em;
    text-align: center;
    background-image: url("../images/uplogo.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    border-bottom: 4px solid #FB7826;
  }
  h1{
    font-family: 'Lobster', cursive;
    font-size: 36px;
    text-shadow: 1px 2px #000;
    color:#FB7826;
  }
/* HOVER DES BOUTONS DE LA NAV */
  .information:hover{
    color: rgba(246, 224, 151, 0.8);
  }
  .accueil:hover{
    color: rgba(253, 160, 41, 0.8);
  }
  .accrobranche:hover{
    color: rgba(75, 163, 60, 0.8);
  }
  .skatepark:hover{
    color: rgba(13, 176, 195, 0.8);
  }
  .trampo:hover{
    color: rgba(224, 204, 22, 0.8);
  }
  .evenement:hover{
    color: rgba(252, 42, 33, 0.8);
  }
  .anniversaire:hover{
    color: rgba(220, 63, 209, 0.8);
  }
  .media:hover{
    color: rgba(118, 108, 255, 0.8);
  }
/*-----------------------------------------------*/

/*===============*/
/*  MENU BURGER  */
/*===============*/
  .btn-navigation{
    z-index: 99999;
    position: fixed;
    right: 10px;
    top: 10px;
    cursor: pointer;
  }
  .btn-navigation .barre{
    z-index: 6;
    width: 25px;
    height: 4px;
    background: #FB7826;
    margin-top: 3px;
    transition: background .3s ease-in-out;
    -webkit-transition: background .3s ease-in-out;
  }
  .btn-navigation .barre.white{
    background: #FB7826;
  }
  nav.isOpen{
    transform: translateX(0%);
    -webkit-transform: translateX(0%);
  }
  nav{
    z-index: 5;
    display: flex;
    flex-direction: column;
    position: fixed;
    right: 0;
    top: 0;
    padding: 5px;
    background: #333;
    width: 40%;
    height: 100%;
    transition: transform .6s ease-in-out;
    -webkit-transition: transform .6s ease-in-out;
    transform: translateX(100%);
    -webkit-transform: translateX(100%);
  }
  nav ul{
    display: flex;
    flex-direction: column;
    position: absolute;
    margin-left: 15px;
    top: 240px;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
  }
  nav ul li{
    margin: 0.2em 0;
  }
  nav ul li a{
    text-decoration: none;
    color:  #fff;
    font-size: 15px;
  }
/*------------------------------------------------*/

/*=============*/
/* DIV BISTROT */
/*=============*/
  .titre_bistrot{
    width: 10em;
    height: 6em;
    padding: 0.5em;
    margin-left: 0.5em;
    margin-top: -1em;
    background-color: rgba(0, 0, 0, 0.8);
    border-left: solid 3px #64C755;
    border-bottom: solid 3px #64C755;
    border-radius: 0px 0px 0px 25px;
    color: white;
    transform: skewX(8deg);
    cursor: pointer;
  }
  .titre_bistrot p{
    height: 3em;
    cursor: pointer;
    font-family: 'Lobster', cursive;
    z-index: 1;
  }
  .titre_bistrot:hover{
    text-shadow: 1px 1px 2px #64C755;
    box-shadow: -1px 2.5px 4px #fff;
  }
  .fa-bell-slash{
   cursor: pointer;
   text-shadow: none;
  }
/*------------------------------------------------*/

/*==================*/
/*  MILIEU DE PAGE  */
/*==================*/
  main{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  section{
    display: flex;
    flex-direction: column;
    margin: 1em auto;
    height: auto;
    width: 90%;
  }
  article{
    display: flex;
    flex-direction: column;
    height: 7.813em;
    padding: 2%;
  }
  article p{
    font-size: 15px;
  }
  .img_sec{
    flex: 1;
  }
  .text_sec, .calendrier{
    flex: 2;
    height: 12.5em;
  }
  .hr_section{
    width: 60%;
    margin: 3.75 auto;
    border: 4px solid #FB7826;
    color: #FB7826;
  }
/*------------------------------------------------*/

/*=======================*/
/*  MAIN BISTROT TOGGLE  */
/*=======================*/
  #mainbistrot{
    display: flex;
    flex-direction: column;
    position: fixed;
    text-align: center;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    z-index: 2; /* Ajouter pour pertubation du calendar (passe au travers)*/
  }
  #mainbistrot article{
    align-items: center;
    margin: 1em auto;
    margin-top: -1em;
    width: 100%;
    color: white;
  }
  #mainbistrot h2{
    font-size: 16px;
    color: #FB7826;
  }
  #mainbistrot p{
    font-size: 14px;
  }
  #mainbistrot .img_txt{
    display: none;
  }
  .hr{ /* HR entre la Sec1 et la Se2, ajouter car il n'y a pas la même class*/
    color: #FB7826;
    margin: 0.2em auto;
    width: 45%;
    border: 2px solid #FB7826;
  }
  .hrsection_bistrot{
    color: #FB7826;
    margin: 0.2em auto;
    width: 45%;
    border: 2px solid #FB7826;
  }
  .sec2_bistrot{
    margin-bottom: -1.5em;
  }
/*------------------------------------------------*/

/*========*/
/*  MAPS  */
/*========*/
  .maps{
    width: 100%;
    border-top: 3px solid #FB7826;
    border-radius: 10px 10px 0px 0px;
  }
/*------------------------------------------------*/

/*==========*/
/*  FOOTER  */
/*==========*/
  footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #222;
    padding: 1em auto;
  }
  footer section{
    display: flex;
    align-items: center;
  }
  footer p{
    font-size: 16px;
    color: white;
  }
  footer a{
    color: #fff;
  }
  footer a:hover{
    color: #FB7826;
  }
  h4{
    font-family: 'Lobster', cursive;
    text-align: center;
    margin-left: 1.2em;
    margin-top: 0.75em;
    font-size: 25px;
    color: #FB7826;
    text-shadow: 1px 2px #fff;
  }
  .fa{
    color: #FB7826;
  }
  .contenue{
    display: flex;
    flex-direction: column;
    margin: 1em auto;
  }
  .hr_footer{
    width: 50%;
    margin: 2.75 auto;
    border: 1px solid #FB7826;
    color: #FB7826;
  }
  .fa-facebook-official{
    transition: 0.7s;
  }
  .fa-facebook-official:hover{
    color: #395794;
    transition: 0.7s;
  }
}
